@import "core/setting/_colors.styl"
@import "core/setting/_variables.styl"
@import "core/setting/_elevations.styl"
@import "core/base/_reset.styl"

@import "bootstrap/_colors.styl"
//@import "bootstrap/_elevations.styl"
@import "bootstrap/_global.styl"
@import "bootstrap/_display.styl"
@import "bootstrap/_spacing.styl"
@import "bootstrap/_text.styl"
@import "bootstrap/_function.styl"

@import "bootstrap/elements/_blockquote.styl"
@import "bootstrap/elements/_headings.styl"
@import "bootstrap/elements/_typography.styl"
//@import "bootstrap/elements/_code.styl"

@import "components/_scrollbar.styl"
@import "components/_transitions.styl"
@import "components/_apps.styl"
@import "components/_ripples.styl"
@import "components/_overlay.styl"
@import "components/_grids.styl"
@import "components/_icons.styl"
@import "components/_trees.styl"
@import "components/_lists.styl"
@import "components/_forms.styl"

@import "components/_buttons.styl"

@import "components/_cards.styl"
@import "components/_alerts.styl"
@import "components/_avatars.styl"
@import "components/_badges.styl"
@import "components/_chips.styl"
@import "components/_tabs.styl"
@import "components/_menus.styl"
@import "components/_notify.styl"
@import "components/_systembar.styl"
@import "components/_toolbar.styl"
@import "components/_dialogs.styl"
@import "components/_progress-circular.styl"
@import "components/_progress-linear.styl"
@import "components/_slider.styl"
@import "components/_parallax.styl"
@import "components/_stepper.styl"
@import "components/_carousel.styl"
@import "components/_tooltip.styl"
@import "components/_bottom-navs.styl"
@import "components/_tables.styl"
@import "components/_data-tables.styl"
@import "components/_markdown-edit.styl"
@import "components/_switch.styl"

@import "example.styl"
//@import "../thirdsCss/highlight.styl"
