
$eicon-font-size :=1.2rem

.icon
  align-items: center
  display: inline-flex  !important
  font-size: $eicon-font-size
  justify-content: center
  line-height: 1
  transition: $primary-transition
  vertical-align: middle
