
.read-model
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  padding: 30px 8% 50px 8%;
  overflow-y: auto;
  box-sizing: border-box;

.previewAear
  overflow: auto;

.mark-btn
  width:30px;
  height: 30px;
  padding: 2px;

.btn.selected
  background-color: #0c7cd5;
  color:#fff;
