$toolbar-btn-margin-lr:=.4rem
$toolbar-title-margin-l:=.8rem

.toolbar
  position: relative
  transition: .2s $transition.fast-out-slow-in
  width: 100%
  elevation(4)
  &.floating
    display: inline-flex
    margin: .8rem
    width: auto
  &-title
    font-size: $headings.h6.size
    font-weight: $headings.h6.weight
    letter-spacing: $headings.h6.letter-spacing
    margin-left: $toolbar-title-margin-l
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  &-items
    display: flex
    padding: 0 .2rem

  &-content, &-extension
    align-items: center
    display: flex

    > .btn:last-child, > .menu:first-child
      margin-right: $toolbar-btn-margin-lr

    > .btn:first-child, > .menu:first-child
      margin-left: $toolbar-btn-margin-lr

    > *:not(.btn):not(.menu):first-child
      margin-left: $grid-gutters.lg

    > *:not(.btn):not(.menu):last-child
      margin-right: $grid-gutters.lg


  @media $display-breakpoints.xs-only
    .toolbar-content,
    .toolbar-extension
      > .btn:last-child
        margin-right: 17px

      > .btn:first-child
        margin-left: 17px

      > *:not(.btn):not(.menu):first-child
        margin-left: $grid-gutters.xl

      > *:not(.btn):not(.menu):last-child
        margin-right: $grid-gutters.xl