html, body
  height: 100%
  width: 100%
  background-color :rgba(0,0,0,0)
  overflow :hidden

////被用在Windows和Linux系统中,让文本在速度和可读性方面得到优化,目前只有Firefox和google支持此属性；auto|optimizeSpeed|optimizeLegibility|geometricPrecision
//none --对低像素的文本比较好 subpixel-antialiased--默认值 antialiased --抗锯齿很好
//Gecko  inherit | grayscale;
//这个属性只用于iOS (iPhone和iPad)当你点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景。要重设这个表现，你可以设置-webkit-tap-highlight-color为任何颜色。示例：设置高亮色为50%透明的红色:-webkit-tap-highlight-color: rgba(255,0,0,0.5);
html
  font-size: $font-size-root
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
  font-family: $body-font-family
  line-height: $line-height-root

// TODO: deprecate
header
  transition: .3s padding $transition.swing
  width: 100%
  z-index: 1

.application
  font-family: $body-font-family
  line-height: $line-height-root

::-ms-clear     //屏蔽IE10以下会出现小叉叉
::-ms-reveal
  display: none

code, kbd
  display: inline-block
  border-radius: 3px
  white-space: pre-wrap
  font-size: 85%
  font-weight: 900

  &:after,
  &:before
    content: "\00a0"
    letter-spacing: -1px
code
  background-color: $grey.lighten-4
  color: #bd4147
  elevation(1)

.disabled
  box-shadow: none !important
  opacity: .65
  pointer-events: none
  cursor: not-allowed !important

.fullscreen
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: auto;
  z-index: 1501;

.flat
  elevation(0)

.hover
  cursor: pointer
  transition: all .4s cubic-bezier(.25, .8, .25, 1)
  transition-property: box-shadow

  &:hover
    elevation(8)


$closed-w-h-l :=1.5rem
$closed-bg-color :=rgba(255,255,255,.3)
$closed-bg-color-houer :=rgba(255,255,255,.4)
$closed-font-size :=1.4rem

.closed
  display: inline-flex;
  align-items:center
  justify-content :center
  line-height :$closed-w-h-l
  width:$closed-w-h-l
  height :$closed-w-h-l
  font-size :$closed-font-size
  margin-right: 0
  border-radius: 50%
  cursor: pointer
  position :relative
  background-color:transparent !important
  color: inherit
  z-index:1
  user-select :none
  &:before
    transition: all ease .5s
    background-color:$closed-bg-color-houer !important
    border-radius :50%
    content:""
    z-index:-1
    display :block
    position :absolute
    height: 0
    width: 0
    top: 50%
    left: 50%
  &:hover
    &:before
      height: 100%
      width: 100%
      top: 0
      left:0

